{% extends "organization_members/base.html" %}
{% block content %}
  <h1>Members</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Org_nr</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for OrganizationMember in object_list %}
      <tr>
        <td>{{ OrganizationMember.name }}</td>
        <td>{{ OrganizationMember.org_nr }}</td>
        <td>
          <a  href="{% url "Organization_detail"  Organization.id  %}">details</a>
          <a  href="{% url "Organization_edit"  Organization.id  %}">edit</a>
          <a  href="{% url "Organization_delete"  Organization.id  %}">delete</a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
